<section class="bg-zinc-800 w-full text-sm p-6">
    <div class="max-w-5xl mx-auto p-5 flex items-center justify-between">
        <div>
            <p class="text-zinc-500">© Todos os Direitos Reservados - Hállan Neves</p>
            <p class="text-zinc-500">Design by <b class="text-zinc-300">hallanneves01&#64;gmail.com</b></p>
        </div>
        <div class="flex gap-10 justify-center">
            <a class="hover:brightness-75" href="https://www.linkedin.com/in/hallan-neves/" target="_blank">
                <img class="h-6 w-6 filter brightness-150" ngSrc="assets/linkedin.png" width="100" height="100">
            </a>
            <a class="hover:brightness-75" href="https://github.com/hallan-n" target="_blank">
                <img class="h-6 w-6 filter brightness-150" ngSrc="assets/github.png" width="100" height="100">
            </a>
        </div>
    </div>
</section>