<form class="flex flex-col max-w-5xl mx-auto" action="">
  <mat-form-field>
    <mat-label>Nome</mat-label>
    <input matInput>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Email</mat-label>
    <input type="email" matInput [formControl]="emailFormControl" placeholder="Ex. pat@example.com">
    <mat-hint class="text-white">Errors appear instantly!</mat-hint>
      @if (emailFormControl.hasError('email') && !emailFormControl.hasError('required')) {
        <mat-error>Please enter a valid email address</mat-error>
      }
      @if (emailFormControl.hasError('required')) {
        <mat-error>Email is <strong>required</strong></mat-error>
      }
  </mat-form-field>


  <mat-form-field>
    <mat-label>Select</mat-label>
    <mat-select>
      <mat-option value="one">First option</mat-option>
      <mat-option value="two">Second option</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Textarea</mat-label>
    <textarea class="max-h-52" matInput></textarea>
  </mat-form-field>
</form>