<section id="portfolio" class="pb-36">
    <div class="pt-36 container mx-auto p-5">
        <app-top-title [primaryTitle]="'PORTFOLIO'" [secondaryTitle]="'Confira alguns projetos realizados'" />
        @if(repositories.length > 0){
            <div class="grid sm:grid-cols-3 grid-cols-1 gap-3 max-w-5xl mx-auto">
                @for (item of repositories; track $index) {
                    @if ($index == 0) {
                        <app-project-item
                            class="sm:col-span-2 sm:row-span-2"
                            [avatar_url]="photos[$index].src.original"
                            [name]="item.name"
                            [language]="item.language"
                            [html_url]="item.html_url"
                            [description]="item.description"/>
                    }@else {
                        <app-project-item
                            [avatar_url]="photos[$index].src.tiny"
                            [name]="item.name"
                            [language]="item.language"                            
                            [html_url]="item.html_url"
                            [description]="item.description"/>
                    }
                }
            </div>
        }@else{
            <mat-spinner class="mx-auto"></mat-spinner>
        }
    </div>
</section>