<section id="overview" class="bg-zinc-300 mt-32">
    <div class="pt-36 container mx-auto">
        <app-top-title [primaryTitle]="'RESUMO'" [secondaryTitle]="'Vou contar um pouco sobre meu trabalho'"/>
        <app-timeline [current]="true"
            [description]="'Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab rem repudiandae, repellendus accusamus assumenda molestias numquam recusandae cupiditate fugiat minima voluptatibus exercitationem sed nihil tempore eaque autem? Debitis, temporibus cupiditate.'"></app-timeline>
        <app-timeline
            [description]="'Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab rem repudiandae, repellendus accusamus assumenda molestias numquam recusandae cupiditate fugiat minima voluptatibus exercitationem sed nihil tempore eaque autem? Debitis, temporibus cupiditate.'"></app-timeline>
        <app-timeline
            [description]="'Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab rem repudiandae, repellendus accusamus assumenda molestias numquam recusandae cupiditate fugiat minima voluptatibus exercitationem sed nihil tempore eaque autem? Debitis, temporibus cupiditate.'"></app-timeline>
        <app-timeline
            [description]="'Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab rem repudiandae, repellendus accusamus assumenda molestias numquam recusandae cupiditate fugiat minima voluptatibus exercitationem sed nihil tempore eaque autem? Debitis, temporibus cupiditate.'"></app-timeline>
        <app-timeline
            [description]="'Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab rem repudiandae, repellendus accusamus assumenda molestias numquam recusandae cupiditate fugiat minima voluptatibus exercitationem sed nihil tempore eaque autem? Debitis, temporibus cupiditate.'"></app-timeline>
        <app-timeline
            [description]="'Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab rem repudiandae, repellendus accusamus assumenda molestias numquam recusandae cupiditate fugiat minima voluptatibus exercitationem sed nihil tempore eaque autem? Debitis, temporibus cupiditate.'"></app-timeline>
        <app-timeline
            [description]="'Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab rem repudiandae, repellendus accusamus assumenda molestias numquam recusandae cupiditate fugiat minima voluptatibus exercitationem sed nihil tempore eaque autem? Debitis, temporibus cupiditate.'"></app-timeline>
        <app-timeline
            [description]="'Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab rem repudiandae, repellendus accusamus assumenda molestias numquam recusandae cupiditate fugiat minima voluptatibus exercitationem sed nihil tempore eaque autem? Debitis, temporibus cupiditate.'"></app-timeline>
        <app-timeline
            [description]="'Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab rem repudiandae, repellendus accusamus assumenda molestias numquam recusandae cupiditate fugiat minima voluptatibus exercitationem sed nihil tempore eaque autem? Debitis, temporibus cupiditate.'"></app-timeline>
        <app-timeline
            [description]="'Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab rem repudiandae, repellendus accusamus assumenda molestias numquam recusandae cupiditate fugiat minima voluptatibus exercitationem sed nihil tempore eaque autem? Debitis, temporibus cupiditate.'"></app-timeline>
        <app-timeline
            [description]="'Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab rem repudiandae, repellendus accusamus assumenda molestias numquam recusandae cupiditate fugiat minima voluptatibus exercitationem sed nihil tempore eaque autem? Debitis, temporibus cupiditate.'"></app-timeline>
        <app-timeline
            [description]="'Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab rem repudiandae, repellendus accusamus assumenda molestias numquam recusandae cupiditate fugiat minima voluptatibus exercitationem sed nihil tempore eaque autem? Debitis, temporibus cupiditate.'"></app-timeline>
    </div>
</section>