<img class="object-cover w-full h-96" [ngSrc]="image" [height]="100" [width]="100">
<div class="flex justify-between">
    <h2 mat-dialog-title>{{ name }}</h2>

</div>
<mat-dialog-content>{{ language }}</mat-dialog-content>
<mat-dialog-actions>
    <div class="w-full flex">
        <a href="#" target="_blank" class="w-full" mat-raised-button color="primary" mat-dialog-close>DETALHES</a>
        <button class="w-full shadow-2xl" mat-stroked-button mat-dialog-close color="primary">Close</button>
    </div>
</mat-dialog-actions>
