<div id="home" class="h-screen" style="background-image: url('assets/background.png'); background-size: cover; background-repeat: no-repeat; background-position: center;background-attachment: fixed;">
    <div class="h-screen flex justify-center items-center text-white">
        <div class="text-center flex flex-col gap-3">
            <p class="text-xl tracking-widest">PORTFÓLIO</p>
            <h1 class="text-5xl sm:text-7xl font-bold">Hállan Neves</h1>
            <p class="text-xs tracking-widest pt-3 px-3">
                FULL-STACK DEVELOPER | ANGULAR | PYTHON
            </p>
            <div class="pt-10">
                <a class="border-4 px-6 py-4 rounded-lg tracking-widest hover:bg-indigo-800 hover:border-indigo-800 transition-all" href="#about">SAIBA MAIS</a>
            </div>
            <div class="flex gap-10 justify-center mt-10">
                <a class="hover:brightness-75" href="https://www.linkedin.com/in/hallan-neves/" target="_blank">
                    <img class="h-6 w-6 filter brightness-150" ngSrc="assets/linkedin.png" width="100" height="100">
                </a>
                <a class="hover:brightness-75" href="https://github.com/hallan-n" target="_blank">
                    <img class="h-6 w-6 filter brightness-150" ngSrc="assets/github.png" width="100" height="100">
                </a>
            </div>
        </div>
    </div>
</div>