<div id="home" class="h-screen" style="background-image: url('assets/background.png'); background-size: cover; background-repeat: no-repeat; background-position: center;background-attachment: fixed;">
    <div class="h-screen flex justify-center items-center text-white">
        <div class="text-center flex flex-col gap-3">
            <p class="text-xl tracking-widest">PORTFÓLIO</p>
            <h1 class="text-7xl font-bold">Hállan Neves</h1>
            <div class="text-sm flex justify-between tracking-widest">
                <p>FULL-STACK DEVELOPER</p>
                <p>|</p>
                <p>ANGULAR</p>
                <p>|</p>
                <p>PYTHON</p>
            </div>
            <div class="pt-10">
                <a class="border-4 px-6 py-4 rounded-lg tracking-widest hover:bg-blue-800 hover:border-blue-800 transition-all" href="#about">SAIBA MAIS</a>
            </div>
        </div>
    </div>
</div>