<div id="home" class="h-screen" style="background-image: url('assets/background.png'); background-size: cover; background-repeat: no-repeat; background-position: center;background-attachment: fixed;">
    <div class="h-screen flex justify-center items-center text-white">
        <div class="text-center flex flex-col gap-3">
            <p class="text-xl tracking-widest">PORTFÓLIO</p>
            <h1 class="text-5xl sm:text-7xl font-bold">Hállan Neves</h1>
            <p class="text-xs tracking-widest pt-3">
                FULL-STACK DEVELOPER&nbsp;&nbsp;&nbsp;|
                &nbsp;&nbsp;&nbsp;ANGULAR&nbsp;&nbsp;&nbsp;|
                &nbsp;&nbsp;&nbsp;PYTHON
            </p>
            <div class="pt-10">
                <a class="border-4 px-6 py-4 rounded-lg tracking-widest hover:bg-blue-900 hover:border-blue-900 transition-all" href="#about">SAIBA MAIS</a>
            </div>
        </div>
    </div>
</div>